<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>新規登録画面</title>
  </head>
  <body>
    <h1>登録フォーム</h1>

    <form
      th:object="${inputForm}"
      th:action="@{/result/register}"
      method="post"
    >
      <table>
        <tr>
          <td><label>名前</label></td>
          <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
          <td><label>年齢</label></td>
          <td><input type="text" th:field="*{age}" /></td>
        </tr>
        <tr>
          <td><label>性別</label></td>
          <td><input type="text" th:field="*{gender}" /></td>
        </tr>
        <tr>
          <td><label>住所</label></td>
          <td>
            <div class="address-wrapper">
              <input type="text" id="address" th:field="*{address}" />
              <ul id="addressSuggestions"></ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><label>希望年収</label></td>
          <td>
            <input type="text" th:field="*{income}" onblur="zeroPad(this, 3)" />
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="登録" /></td>
        </tr>
      </table>
    </form>

    <script>
      // =============================
      // 希望年収の桁埋め処理
      // =============================
      function zeroPad(e, length) {
        if (!e.value) return;
        e.value = String(e.value).padStart(length, "0");
      }

      // =============================
      // 入力候補日の取得
      // =============================
      // 住所入力欄
      const addressInput = document.getElementById("address");
      // 入力候補の表示領域
      const suggestionsArea = document.getElementById("addressSuggestions");

      // 住所入力時に候補取得APIを呼ぶ
      addressInput.addEventListener("input", function () {
        // 前後の空白を除去
        const keyword = this.value.trim();

        // 入力候補のリセット
        if (!keyword) {
          suggestionsArea.innerHTML = "";
          return;
        }

        // API呼び出し
        fetch(`/api/address/suggest?keyword=${encodeURIComponent(keyword)}`)
          .then((response) => response.json())
          .then((data) => {
            // 入力候補のリセット
            suggestionsArea.innerHTML = "";

            if (!data.suggestions || data.suggestions.length === 0) {
              return;
            }

            data.suggestions.map((item) => {
              const liElement = document.createElement("li");
              // 画面項目の作成
              liElement.textContent = item.address;

              // 候補をクリックしたら入力欄に反映させる処理
              liElement.addEventListener("click", function () {
                addressInput.value = item.address;
                // 入力候補のリセット
                suggestionsArea.innerHTML = "";
              });

              // 入力候補を画面に追加する
              suggestionsArea.appendChild(liElement);
            });
          });
      });
    </script>
  </body>
</html>
